<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p class="small text-muted mb-0">&copy; 2023</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="small text-muted mb-0">Đồ án 2 </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>