<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<link rel="stylesheet" href="/css/admin/style.css">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <div class="nav-logo">
            <a href="/admin/" class="ad-welcome navbar-brand nav-link">Quản trị hệ thống</a>
        </div>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul id="admin-header" class=" navbar-nav me-auto mt-2 mt-lg-0">
                <li id="users-manage" class="nav-item nav-link">
                    <a href="/admin/" class="nav-link" id="dropdownId">Quản lý người dùng</a>
                <li id="category-manage" class="nav-item nav-link">
                    <a href="/admin/category" class="nav-link" id="dropdownId">Quản lý danh mục</a>
                </li>
                <li class="nav-item nav-link">
                    <a href="/admin/product" class="nav-link" id="dropdownId">Quản lý sản phẩm</a>
                </li>
                <li class="nav-item nav-link">
                    <a href="/admin/order" class="nav-link" id="dropdownId">Quản lý đơn hàng</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="text-white">Xin chào,
                <span class="user-login"></span>
                <span>
                    <a href="/auth/logout" class="btn btn-danger">
                        Đăng xuất
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/js/admin/header.js"></script>